.buttonStyles {
  background-color: black;
  color: white;
  border: none;
}

.buttonStyles:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.invertedButton {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.invertedButton:hover {
  background-color: black;
  color: white;
  border: none;
}

.signIn {
  background-color: #4285f4;
  color: white;
}

.signIn:hover {
  background-color: rgba(38, 38, 55, 0.8);
  border: none;
}

.customButton {
  min-width: 100px;
  width: auto;
  max-height: 50px;
  letter-spacing: 0.5px;
  line-height: 20px;
  padding: 5px 5px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
}

.customButton:hover {
  background-color: rgba(38, 38, 55, 0.8);
  color: white;
  border: none;
}
